# Repository path template
NPC_PROJECT_ROOT=<repository_root>
NPC_WORKFLOWS_DIR=<repository_root>/workflows
NPC_RESULTS_DIR=<repository_root>/results

# Workflow directories
NPC_SCRNA_DIR=<repository_root>/workflows/scrna
NPC_BULK_DIR=<repository_root>/workflows/bulk-rna
NPC_MICROBIOME_DIR=<repository_root>/workflows/microbiome
NPC_SPATIAL_DIR=<repository_root>/workflows/spatial
